section {
    width: 43%;
}

#todo form input {
    padding: 5px 30px;
}
#todo form .sub {
    padding: 3px 3px;
}
.item-list li {

    padding: 5px;
}

.item-list li button {
    padding: 0px 5px;
}
.calc{
    width: 100%;
    padding: 30px;

}